:host {
  display: block;
  min-width: calc(320px - 1em);
}

h3 {
  position: relative;
  height: 1.4em;

  p-dropdown {
    position: relative;
    top: -1px;
  }
}

.option-sets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: -5px;
  width: calc(100% - 1em);

  p-button {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
    min-width: 150px;
  }
}

.details {
  margin-right: 1em;
  min-width: calc(320px - 1em);
  padding-top: 5px;
  width: calc(100% - 1em);
}

.boolean-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1em;

  p-checkbox {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
    min-width: 225px;
  }
}

.labeled-dropdown {
  position: relative;
  white-space: nowrap;

  label {
    display: inline-block;
    min-width: 125px;
    padding-right: 0.5em;
    position: relative;
    text-align: right;
    top: 2px;
  }
}

.panel {
  margin-bottom: 2em;
  min-width: 328px;
  position: relative;

  p-dropdown {
    margin-right: 0.25em;

    &.input-options ::ng-deep .ui-dropdown {
      min-width: 11em;
    }
  }
}

.icons {
  color: #666;
  font-size: 1.5em;
  position: absolute;
  right: 1em;
  top: 0.8em;

  i {
    cursor: pointer;
    margin-left: 0.667em;
  }
}

.sample-menu {
  font-size: 1.5em;
  left: -2px;
  margin-left: 0.444em !important;
  position: relative;
  top: 3px;
}

.info {
  color: #29F;
}

.faded {
  opacity: 0.33;
}

.labeled-input {
  white-space: nowrap;

  label {
    display: inline-block;
    min-width: 125px;
    padding-right: 0.5em;
    text-align: right;
  }

  input {
    width: 175px;
  }
}

.other-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  span {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
  }
}

.native-big-int-star {
  color: #0A0;
}

.footnote {
  position: relative;
}

.native-big-int-footnote {
  @extend .footnote;
  color: #0A0;
}

.code {
  display: inline-block;
  font: 14px "Roboto Mono", "Courier New", monospace;
  margin-right: 1em;
  resize: none;
  width: calc(100% - 1em);

  &:read-only {
    background-color: #F8F8F8;
  }
}

.json-z-output {
  position: relative;
  top: 4px;
}

.error {
  background-color: #FDD !important;
}

@media screen and (max-width: 480px) {
  .panel {
    min-width: calc(100% - 2em);
  }
}

@media screen and (max-width: 767px) {
  .code, input {
    font-size: 16px; // Prevent zoom on input focus
  }
}

.experimental ::ng-deep label {
  font-style: italic;
}
