<div [innerHTML]="banner"></div>

<div class="option-sets">
  <p-button label="Most&nbsp;Compatible" [disabled]="isCompatible()" (onClick)="setCompatible()"></p-button>
  <p-button label="Relaxed" [disabled]="isRelaxed()" (onClick)="setRelaxed()"></p-button>
  <p-button label="The Works" [disabled]="isTheWorks()" (onClick)="setTheWorks()"></p-button>
</div>

<jz-shrink-wrap minScale="84%">
  <div class="details">
    <p-fieldset legend="Detailed settings" [toggleable]="true" [(collapsed)]="detailsCollapsed">
      <div class="boolean-options">
        <jz-checkbox binary="true" label="extendedPrimitives" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.extendedPrimitives" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="primitiveBigDecimal" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.primitiveBigDecimal" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="primitiveDecimal" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.primitiveDecimal" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="primitiveBigInt" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.primitiveBigInt" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="quoteAllKeys" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.quoteAllKeys" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="revealHiddenArrayProperties" class="experimental" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.revealHiddenArrayProperties" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="reviveTypedContainers" [disabled]="isJson5()"
            [(ngModel)]="reviveTypedContainers" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="sparseArrays" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.sparseArrays" (onChange)="onChange()"></jz-checkbox>
        <jz-checkbox binary="true" label="trailingComma" [disabled]="isJson5()"
            [(ngModel)]="currentOptions.trailingComma" (onChange)="onChange()"></jz-checkbox>
      </div>

      <div class="other-options">
        <span class="labeled-input-pair">
          <label for="space">space:</label>
          <input id="space"
                 pInputText
                 [class.error]="spaceError"
                 autocapitalize="off"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 [(ngModel)]="space"
                 (input)="onChange()">
          <label for="maxIndent" [class.as-disabled]="isJson5()">maxIndent:</label>
          <input id="maxIndent" [disabled]="isJson5()"
                 pInputText
                 [class.error]="maxIndentError"
                 autocapitalize="off"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 [(ngModel)]="maxIndent"
                 (input)="onChange()">
        </span>
        <span class="labeled-select">
          <label>quote:</label>
          <p-select class="wider" [options]="quoteOptions" placeholder="quote"
              [(ngModel)]="currentOptions.quote" (onChange)="onChange()"></p-select>
        </span>
        <span class="labeled-input">
          <label for="propertyFilter" [class.as-disabled]="isJson5() && useReplacer">propertyFilter:</label>
          <input id="oneLiners" [disabled]="isJson5() && useReplacer"
                 pInputText
                 autocapitalize="off"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 [(ngModel)]="propertyFilter"
                 (input)="onParsingChange()">
        </span>
        <span class="labeled-input">
          <label for="oneLiners" [class.as-disabled]="isJson5()">oneLiners:</label>
          <input id="oneLiners" [disabled]="isJson5()"
                 pInputText
                 autocapitalize="off"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 [(ngModel)]="oneLiners"
                 (input)="onParsingChange()">
        </span>
        <span class="labeled-select">
          <label [class.as-disabled]="isJson5()">extendedTypes:</label>
          <p-select class="wider" [options]="extendedTypesOptions" placeholder="extendedTypes" [disabled]="isJson5()"
                    [(ngModel)]="currentOptions.extendedTypes" (onChange)="onChange()"></p-select>
        </span>
        <span class="labeled-input">
          <label for="typePrefix" [class.as-disabled]="isJson5()">typePrefix:</label>
          <input id="typePrefix" [disabled]="isJson5()"
              pInputText
              [class.error]="typePrefixError"
              autocapitalize="off"
              autocomplete="off"
              autocorrect="off"
              spellcheck="false"
              [(ngModel)]="typePrefix"
              (input)="onParsingChange()">
        </span>
      </div>
    </p-fieldset>
  </div>
</jz-shrink-wrap>

<div class="row panels">
  <div class="col panel">
    <h3>
      <p-select [options]="inputOptions" placeholder="input options" class="input-options"
          [(ngModel)]="inputOption" (onChange)="onInputOptionChange()"></p-select>:
    </h3>
    <div class="icons">
      <i class="fas fa-info-circle info" tooltipPosition="bottom" tooltipEvent="hover"
          [pTooltip]="inputInfo" [escape]="false" tooltipStyleClass="tooltip"
          (touchstart)="touchToHover($event, touchInput)"></i>
      <p-dialog [(visible)]="showInputInfo" [blockScroll]="true"
          [resizable]="false" appendTo="body" styleClass="tooltip-dialog"
          [showHeader]="true" [modal]="true" [dismissableMask]="true">
        <div [innerHTML]="inputInfo"></div>
      </p-dialog>
      <p-menu #samples [popup]="true" [model]="sampleOptions" appendTo="body"
          (onHide)="sampleSelected($event)"></p-menu>
      <i class="fas fa-caret-down sample-menu" (click)="samples.toggle($event)"></i>
      <i class="fas fa-trash" [class.faded]="!source" (click)="clearSource()"></i>
    </div>
    <textarea pTextarea
        title="Source"
        [(ngModel)]="source"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        class="code"
        rows="20"
        spellcheck="false"
        (input)="onChange(true)"></textarea><br>
    <div>&nbsp;</div>
    <p-button class="log-button"
        label="Log to web console"
        [disabled]="disableSourceLogging()"
        (onClick)="logSource()"></p-button>
    <h3>
      <jz-checkbox binary="true" label="Replacer function:"
          [(ngModel)]="useReplacer" (onChange)="onChange(true)"></jz-checkbox>
    </h3>
    <div class="icons-offsetter"><div class="icons">
      <i class="fas fa-info-circle info" tooltipPosition="bottom" tooltipEvent="hover"
          [pTooltip]="replacerInfo" [escape]="false" tooltipStyleClass="tooltip"
          (touchstart)="touchToHover($event, touchReplacer)"></i>
      <p-dialog [(visible)]="showReplacerInfo" [blockScroll]="true"
          [resizable]="false" appendTo="body" styleClass="tooltip-dialog"
          [showHeader]="true" [modal]="true" [dismissableMask]="true">
        <div [innerHTML]="replacerInfo"></div>
      </p-dialog>
      <p-menu #replacerSamples [popup]="true" [model]="replacerSampleOptions" appendTo="body"
          (onHide)="sampleSelected($event)"></p-menu>
      <i class="fas fa-caret-down sample-menu" [class.faded]="!useReplacer"
          (click)="useReplacer && replacerSamples.toggle($event)"></i>
      <i class="fas fa-trash" [class.faded]="replacer === allPurposeCallback" (click)="clearReplacer()"></i>
    </div></div>
    <textarea pTextarea
        title="Replacer"
        [(ngModel)]="replacer"
        [disabled]="!useReplacer"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        class="code"
        rows="10"
        spellcheck="false"
        (input)="onChange(true)"></textarea>
  </div>

  @if (showJsonZOutput) { <div class="col panel">
    <h3 class="json-z-output">JSON-Z output:</h3>
    <textarea pTextarea
        title="Output"
        [ngModel]="output"
        class="code"
        [class.error]="outputError"
        rows="20"
        readonly></textarea>
  </div> }

  <div class="col panel">
    <h3>Reparsed
      <p-select [options]="reparseOptions" placeholder="reparse options" class="reparse-options"
          [(ngModel)]="reparseOption" (onChange)="onParsingChange()"></p-select>
      *:
    </h3>
    <textarea pTextarea
        title="Reparsed"
        [ngModel]="reparsed"
        class="code"
        [class.error]="reparsedError"
        rows="20"
        readonly></textarea>
    <div class="footnote">*After being reparsed, displayed as {{displayedFormat}}</div>
    <p-button class="log-button"
        label="Log to web console"
        [disabled]="disableResultLogging()"
        (onClick)="logResult()"></p-button>
    <h3>
      <jz-checkbox binary="true" label="Reviver function:" [disabled]="isJsonP()"
          [(ngModel)]="useReviver" (onChange)="onChange(true)"></jz-checkbox>
    </h3>
    <div class="icons-offsetter"><div class="icons">
      <i class="fas fa-info-circle info" tooltipPosition="bottom" tooltipEvent="hover"
          [pTooltip]="reviverInfo" [escape]="false" tooltipStyleClass="tooltip"
          (touchstart)="touchToHover($event, touchReviver)"></i>
      <p-dialog [(visible)]="showReviverInfo" [blockScroll]="true"
          [resizable]="false" appendTo="body" styleClass="tooltip-dialog"
          [showHeader]="true" [modal]="true" [dismissableMask]="true">
        <div [innerHTML]="reviverInfo"></div>
      </p-dialog>
      <p-menu #reviverSamples [popup]="true" [model]="reviverSampleOptions" appendTo="body"
          (onHide)="sampleSelected($event)"></p-menu>
      <i class="fas fa-caret-down sample-menu" [class.faded]="!useReviver"
          (click)="useReviver && reviverSamples.toggle($event)"></i>
      <i class="fas fa-trash" [class.faded]="reviver === allPurposeCallback" (click)="clearReviver()"></i>
    </div></div>
    <textarea pTextarea
        title="Replacer"
        [(ngModel)]="reviver"
        [disabled]="!useReviver || isJsonP()"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        class="code"
        rows="10"
        spellcheck="false"
        (input)="onChange(true)"></textarea>
  </div>
</div>
