<div class="header">
  <h1>JSON-Z</h1>
  <div class="badges">
    <a href="https://github.com/kshetline/json-z/" target="_blank">
      <div><img src="./assets/github.svg" width="20" height="20" alt="github"><span class="github">github</span></div>
    </a>
    <a href="https://npmjs.org/package/json-z/" target="_blank">
      <img src="https://img.shields.io/npm/v/json-z.svg" alt="npm">
    </a>
    <a href="https://travis-ci.com/kshetline/json-z" target="_blank">
      <img src="https://travis-ci.com/kshetline/json-z.svg?branch=master" alt="build status">
    </a>
    <a href="https://coveralls.io/github/kshetline/json-z" target="_blank">
      <img src="https://coveralls.io/repos/github/kshetline/json-z/badge.svg?branch=master" alt="coverage status">
    </a>
    <a href="https://npmjs.org/package/json-z/" target="_blank">
      <img src="https://img.shields.io/npm/dm/json-z.svg" alt="downloads">
    </a>
    <a href="https://npmjs.org/package/json-z/" target="_blank">
      <img src="https://img.shields.io/bundlephobia/min/json-z.svg" alt="minified size">
    </a>
  </div>
  <h2>Interactive Demo <span style="color: #E00;">(alpha version)</span></h2>
</div>

<div class="option-sets">
  <p-button label="Most Compatible" [disabled]="isCompatible()" (onClick)="setCompatible()"></p-button>
  <p-button label="Relaxed" [disabled]="isRelaxed()" (onClick)="setRelaxed()"></p-button>
  <p-button label="The Works" [disabled]="isTheWorks()" (onClick)="setTheWorks()"></p-button>
</div>

<div class="details-wrapper"><div class="details">
  <p-fieldset legend="Detailed settings" [toggleable]="true" [(collapsed)]="detailsCollapsed">
    <div class="boolean-options">
      <p-checkbox binary="true" label="extendedPrimitives"
        [(ngModel)]="currentOptions.extendedPrimitives" (onChange)="onChange()"></p-checkbox>
      <p-checkbox binary="true" label="primitiveBigDecimal"
        [(ngModel)]="currentOptions.primitiveBigDecimal" (onChange)="onChange()"></p-checkbox>
      <p-checkbox binary="true" label="primitiveBigInt"
        [(ngModel)]="currentOptions.primitiveBigInt" (onChange)="onChange()"></p-checkbox>
      <p-checkbox binary="true" label="quoteAllKeys"
        [(ngModel)]="currentOptions.quoteAllKeys" (onChange)="onChange()"></p-checkbox>
      <p-checkbox binary="true" label="revealHiddenArrayProperties" class="experimental"
        [(ngModel)]="currentOptions.revealHiddenArrayProperties" (onChange)="onChange()"></p-checkbox>
      <p-checkbox binary="true" label="sparseArrays"
        [(ngModel)]="currentOptions.sparseArrays" (onChange)="onChange()"></p-checkbox>
      <p-checkbox binary="true" label="trailingComma"
        [(ngModel)]="currentOptions.trailingComma" (onChange)="onChange()"></p-checkbox>
    </div>

    <div class="other-options">
      <span class="labeled-dropdown">
        <label>extendedTypes:</label>
        <p-dropdown [options]="extendedTypesOptions" placeholder="extendedTypes"
          [(ngModel)]="currentOptions.extendedTypes" (onChange)="onChange()"></p-dropdown>
      </span>
      <span class="labeled-dropdown">
        <label>quote:</label>
        <p-dropdown [options]="quoteOptions" placeholder="quote"
          [(ngModel)]="currentOptions.quote" (onChange)="onChange()"></p-dropdown>
      </span>
      <span class="labeled-input">
        <label for="typePrefix">typePrefix:</label>
        <input id="typePrefix" pInputText
          [(ngModel)]="currentOptions.typePrefix" (input)="onParsingChange()">
      </span>
      <span class="labeled-input">
        <label for="space">space:</label>
        <input id="space" pInputText
          [(ngModel)]="space" (input)="onChange()">
      </span>
    </div>
  </p-fieldset>
</div></div>

<div class="row">
  <div class="col">
    <h3>
      <p-dropdown [options]="inputOptions" placeholder="input options"
        [(ngModel)]="inputOption" (onChange)="onInputOptionChange()"></p-dropdown>
      as input<span *ngIf="hasNativeBigInt" class="native-big-int-star">*</span>:
    </h3>
    <textarea pInputTextarea
      [(ngModel)]="source"
      autocapitalize="off"
      autocorrect="off"
      class="code"
      rows="20"
      spellcheck="false"
      (input)="onChange(true)"></textarea><br>
    <span *ngIf="hasNativeBigInt" class="native-big-int-footnote">*Native BigInt available</span>
  </div>

  <div *ngIf="showJsonZOutput" class="col">
    <h3>JSON-Z output:</h3>
    <textarea pInputTextarea
      [ngModel]="output"
      class="code"
      [class.error]="outputError"
      rows="20"
      readonly></textarea>
  </div>

  <div class="col">
    <h3>Reparsed
      <p-dropdown [options]="reparseOptions" placeholder="reparse options"
        [(ngModel)]="reparseOption" (onChange)="onParsingChange()"></p-dropdown> :
    </h3>
    <textarea pInputTextarea
      [ngModel]="reparsed"
      class="code"
      [class.error]="reparsedError"
      rows="20"
      readonly></textarea>
  </div>
</div>
