.header {
  width: calc(100% - 1em);
}

h1 {
  margin: 0;
  text-align: center;
}

.badges {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: calc(100% - 1em);

  a {
    margin: 0.5em;
  }
}

.github {
  padding-left: 0.33em;
  position: relative;
  top: -5px;
}

h2 {
  margin: 0 0 1em 0;
  text-align: center;
}

h3 {
  position: relative;
  height: 1.4em;

  p-dropdown {
    position: relative;
    top: -1px;
  }
}

.option-sets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: calc(100% - 1em);

  p-button {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
    min-width: 150px;
  }
}

.details-wrapper {
  width: calc(100vw - 2em);
}

.boolean-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1em;

  p-checkbox {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
    min-width: 225px;
  }
}

.labeled-dropdown {
  position: relative;
  white-space: nowrap;

  label {
    display: inline-block;
    min-width: 125px;
    padding-right: 0.5em;
    position: relative;
    text-align: right;
    top: 2px;
  }
}

.labeled-input {
  position: relative;
  white-space: nowrap;

  label {
    display: inline-block;
    min-width: 125px;
    padding-right: 0.5em;
    position: relative;
    text-align: right;
    top: 2px;
  }
}

.other-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  span {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
  }
}

.native-big-int-star {
  color: #0A0;
}

.footnote {
  position: relative;
  top: -2em;
}

.native-big-int-footnote {
  @extend .footnote;
  color: #0A0;
}

.code {
  display: inline-block;
  font: 14px "Roboto Mono", "Courier New", monospace;
  margin-bottom: 2em;
  margin-right: 1em;
  min-width: calc(100vw - 3em);
  resize: none;
  width: calc(100% - 1em);

  &:read-only {
    background-color: #F8F8F8;
  }
}

.error {
  background-color: #FDD !important;
}

@media screen and (min-width: calc(280px - 2em)) {
  .code {
    min-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .code, input {
    font-size: 16px; // Prevent zoom on input focus
  }
}

@media screen and (max-width: 349px) {
  .details-wrapper {
    margin: -10% -15% -15% -10%;
  }

  .details {
    transform: scale(0.80);
  }
}

.experimental ::ng-deep label {
  font-style: italic;
}
