h3 {
  position: relative;
  height: 1.4em;

  p-dropdown {
    position: relative;
    top: -1px;
  }
}

.option-sets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: calc(100% - 1em);

  p-button {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
    min-width: 150px;
  }
}

.details-wrapper {
  width: calc(100% - 1em);
}

.boolean-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1em;

  p-checkbox {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
    min-width: 225px;
  }
}

.labeled-dropdown {
  position: relative;
  white-space: nowrap;

  label {
    display: inline-block;
    min-width: 125px;
    padding-right: 0.5em;
    position: relative;
    text-align: right;
    top: 2px;
  }
}

.panel {
  position: relative;

  p-dropdown {
    margin-right: 0.25em;
  }
}

.icons {
  color: #666;
  position: absolute;
  right: 1.5em;
  top: 2.1em;

  i {
    cursor: pointer;
    margin-left: 0.5em;
  }
}

.sample-menu {
  font-size: 1.5em;
  left: -2px;
  position: relative;
  top: 3px;
}

.info {
  color: #29F;
}

.faded {
  opacity: 0.33;
}

.labeled-input {
  white-space: nowrap;

  label {
    display: inline-block;
    min-width: 125px;
    padding-right: 0.5em;
    text-align: right;
  }

  input {
    width: 175px;
  }
}

.other-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  span {
    flex: 0 1 0;
    margin: 0 0.5em 1em 0.5em;
  }
}

.native-big-int-star {
  color: #0A0;
}

.footnote {
  position: relative;
  top: -2em;
}

.native-big-int-footnote {
  @extend .footnote;
  color: #0A0;
}

.code {
  display: inline-block;
  font: 14px "Roboto Mono", "Courier New", monospace;
  margin-bottom: 2em;
  margin-right: 1em;
  min-width: calc(100vw - 3em);
  resize: none;
  width: calc(100% - 1em);

  &:read-only {
    background-color: #F8F8F8;
  }
}

.json-z-output {
  position: relative;
  top: 4px;
}

.error {
  background-color: #FDD !important;
}

// Used to be `min-width: calc(280px - 2em)`, but it seems that Edge can't handle `calc` in this context.
@media screen and (min-width: 252px) {
  .code {
    min-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .code, input {
    font-size: 16px; // Prevent zoom on input focus
  }
}

@media screen and (max-width: 374px) {
  .details-wrapper {
    margin: -10% -15% -15% -10%;
  }

  .details {
    transform: scale(0.80);
  }
}

.experimental ::ng-deep label {
  font-style: italic;
}
